*{
    font-family:'Open Sans', sams-serif;
    text-align: center;
}

body{
    padding:5%;
}

img{
    max-width:100%;
    font-weight: 600; 
    text-transform: uppercase;
}

ul{
    padding-left:0;
}

li,
h2{
    list-style:none;
    font-weight: 800;
    text-transform:uppercase;
    padding:15px;
    font-size: 1.17em;
}

#top{
text-transform: uppercase;
}

a{
    text-decoration:none;
}

a:hover{
text-decoration: underline;
color:orange;
}

.title{
    font-size:30px;
}

.bio{
    color:rgb(88,89,88);
}

.portfolio-container{
    padding: top 10%;
    padding: bottom 10;
}

#portfolio{
    padding:40px;
}

.project{
    padding-bottom:25px;
}